/*--------------------------------------------------------------
# hero-area
--------------------------------------------------------------*/

.hero-area {
	padding-top: 120px;
	padding-bottom: 70px;
	background-image: url("../img/bg/bg-main.png");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;

	position: relative;
	@media only screen and (max-width: 991px) {
		padding-top: 90px;
		padding-bottom: 50px;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($main-color, 0.3);
	}
	.hero-inner {
		text-align: center;
		position: relative;
		.hero-img {
      display: block;
			width: 100%;
			height: auto;
			max-width: 850px;
      margin-left: auto;
      margin-right: auto;
      @media only screen and (max-width: 1199px) {
       max-width: 720px;
      }
		}
		h1 {
			font-size: 54px;
			font-weight: 700;
      display: inline-block;
      background-color: rgba($main-color, 0.2);
      color: $secondary-color;
      text-transform: uppercase;
      padding: 6px 16px;
      border-top: 2px solid $secondary-color;
      text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.84);
			@media only screen and (max-width: 1199px) {
				font-size: 45px;
			}
			@media only screen and (max-width: 991px) {
				font-size: 42px;
			}
      @media only screen and (max-width: 767px) {
       font-size: 35px;
      }
      @media only screen and (max-width: 482px) {
       font-size: 30px;
      }
		}
	}
}

/*--------------------------------------------------------------
# hero-area-page
--------------------------------------------------------------*/
.hero-area-page {
	background-image: url("../img/bg/bg-main.png");
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	position: relative;
	@media only screen and (max-width: 767px) {
		min-height: 30vh;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($main-color, 0.5);
	}
	.hero-inner {
		position: relative;
		padding-top: 50px;
		h1 {
			font-size: 44px;
			@media only screen and (max-width: 991px) {
				font-size: 40px;
			}
			@media only screen and (max-width: 767px) {
				font-size: 35px;
			}
		}
	}
}
