@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

$main-color:#000000;
$primary-color:#C2643F;
$secondary-color:#FFF800;
$text-color: #a9a9b3;
$title-color:#fff;
